.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffc2a0;
}
.todos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: #ffffff;
  padding: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.heading {
  font-size: 32px;
  font-family: 'Roboto';
  color: #ff8542;
}
.todos-list {
  padding-left: 0px;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 40px;
  }
}
